#sectionAbout {
  padding-top: 40px;
  padding-left: 20px;

  border-top: 5px solid #f5f5f5;
  background-color: #f5f5f5;
}

.myImage {
  width: 40%;
}

.aboutMe {
  margin-left: 100px;
  width: 100%;
}

.myProfile {
  display: flex;
  padding: 0 0 60px;
}

.myProfileWrapper {
  display: flex;
  justify-content: center;
}

@media (min-width: 1000px) {
  .myProfile {
    width: 1000px;
  }
}
@media (max-width: 1000px) {
  #sectionAbout {
    padding: 0px;
  }
  .myProfile {
    display: block;
  }
  .myImage {
    width: 100%;
    text-align: center;
    padding: 2rem 0;
  }
  .aboutMe {
    text-align: center;
    margin: 0;
  }
}
