@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

.App {
  text-align: center;
}

html {
  width: 100vw;
  height: auto;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  font-family: "Noto Sans KR", sans-serif;
}

a {
  color: white;
  text-decoration: none;
}
