.container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(192, 192, 192);
}

.leftMenu {
  position: relative;
  margin-left: 5rem;
}
.nuJooy {
  position: absolute;
  left: 50%;
  top: 10%;
  font-size: 30px;
  color: white;
}
.rightMenu {
}
@media (max-width: 1000px) {
  .rightMenu ul li {
    display: none;
  }
}
li {
  list-style: none;
  display: inline;
  margin-right: 2rem;
  font-size: 20px;
  color: white;
}
li:hover {
  border-bottom: 2px solid white;
  cursor: pointer;
}

* {
  scroll-behavior: smooth;
  max-width: 100%;
  height: auto;
}

.hamburgerMenu {
  width: 50px;
  display: none;
  margin-right: 20px;
  cursor: pointer;
  max-width: 100%;
  height: auto;
}
@media (max-width: 1000px) {
  .hamburgerMenu {
    display: block;
  }
}

@media (max-width: 300px) {
  .hamburgerMenu {
    display: block;
  }
}

.mobileMenu {
  width: 100%;
  height: 300px;
  background-color: rgba(192, 192, 192);
  display: none;
}
@media (max-width: 1000px) {
  .mobileMenu {
    display: none;
  }
}
