.hoverImg {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);

  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  display: inline;
  margin: 30px;
}

.hoverImg:hover {
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.2);
}

.hoverImg {
  overflow: hidden;
}

#foot {
  border: none;
  border-radius: 15px;
  box-shadow: 0 0 8px rgb(207, 207, 207);
}

button:hover {
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: inset 0 0 8px #f9f8fc;
}

#foot {
  position: relative;
  top: 15px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: none;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 0 8px #d9d4e7;
  width: 200px;
  height: 65px;
  background-color: #d9d4e7;
  animation-duration: 5s;
}

.button-os {
  position: absolute;
  width: 200px;
  height: 55px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 10px, 10px, 10px, 10px;
  background-color: #f9f8fc;
  border: 2.5px solid palevioletred;
  transition: background-color 2.2s;
  transition-duration: 3s;
  transition: 1.5s;
}

.button-os:hover {
  position: absolute;
  top: 30px;
  background-color: #fec7d7;
}

.button-os a {
  font-size: 20px;
  display: block;
  text-decoration: none;
  color: grey;
  transition: 1.5s;
  font-size: 20px;
}

.button-os a:hover {
  letter-spacing: 5px;
  color: white;
}

/* project CSS */

#sectionProjects {
  margin-bottom: 200px;
}

.projectsContainer {
  display: flex;
  flex: space-between;
  justify-content: center;
}

@media (max-width: 1000px) {
  .projectsContainer {
    display: block;
  }
  .projectBox {
    margin-top: 30px;
    text-align: center;
  }
}

.projectBox {
  border: 2px solid black;
  margin-right: 30px;
  margin-left: 30px;
  box-shadow: 5px 5px 5px 5px gray;
  height: 500px;
}

.projectGitLinkContainer {
  display: flex;
  justify-content: center;
}
.projectGitLink {
  text-align: center;
  width: 438px;
}

.MobileProjectGitLink {
  display: none;
}

@media (max-width: 1000px) {
  .projectGitLinkContainer {
    display: none;
  }
  .MobileProjectGitLink {
    display: block;
    text-align: center;
  }
}
